h3{
  margin: 0;
  padding: 0;
}

.card-date input{
  margin: 5px 0;
  border: 0.5px solid #ccc;
  background: none;
  font-size: 16px;
  padding: 5px;
}

/* Container da grade da tabela */
.grid {
  padding: 20px 50px;
  margin-top: 50px;
  width: 1100px;
  place-self: center;
  display: grid;
  background-color: white;
  border-radius: 4px;
 
}

/* Tabela */
.tabela {
  width: 100%;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

/* Cabeçalho */
.tabela thead th {
  padding: 14px 10px;
  background: #f4f6f8;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 2px solid #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Linhas */
.tabela tbody tr {
  transition: 0.2s ease;
}

/* Efeito hover */
.tabela tbody tr:hover {
  background-color: #f9fafb;
}

/* Células */
.tabela td {
  padding: 12px 10px;
  border-bottom: 1px solid #eaeaea;
  color: #444;
  text-transform: lowercase;
  
}

.tabela td::first-letter {
  text-transform: uppercase;

}

/* Colunas alinhadas */
.td-valor {
  text-align: left;
  font-weight: 600;
}

.td-categoria,
.td-desc,
.td-data,
.td-forma {
  text-align: center;
}

/* Estilização adicional opcional */
.td-forma {
  font-weight: 500;
  color: #555;
  
}

.td-categoria {
  font-weight: 500;
}
