.sidebar{
  position: fixed;     /* <-- Deixa fixa */
  top: 0;
  left: 0;
  width: 250px;        /* Mesmo tamanho definido no grid */
  height: 100vh;
  background-color: white;
  color: #1E1E1E;
  margin: 0;
  padding: 0;
}

.sidebar-content{
  padding: 20px 15px; 
}

.sidebar-content h2{
  text-align: center;
  margin-bottom: 60px;
  font-size: 25px;
}



.sidebar-content ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content li{
  margin: 15px ;
  padding: 5pxx;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.sidebar-content li img{
  margin-right: 10px;

}

.sidebar-content li:hover{
background-color: #FFCB7F;
}

.links{
  text-decoration: none;
  color: #1E1E1E;
  display: flex;
  align-items: center;
  padding: 5px;
}
