.dashboard{
  background-color: #F2F2F4;
  color: black;
  max-width: 100%;
  margin-left: 250px;
  top: 0;
}


.dashboard .title{
  text-align: left;
  padding: 23px 40px;
  font-size: 25px;
}

.cards img{
  max-width: 50px
}

.card-content{
  padding: 0 25px;
  align-items: center;
  height: 120px;
  background-color: white;
  min-width: 226px;
  display: flex;
  gap: 20px;
}

.card-txt h2, p{
  padding: 0;
  margin: 0;
}

.card-txt p{
 text-align: right;
}

.infos-cards{
  margin-top: 20px;
  position: relative;
  display: flex;
  gap: 25px;
  place-self: start;
  padding: 0 40px;
}

.graficos{
  padding: 20px 40px;
  margin-top: 50px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.grafico-pizza, .grafico-barra, .grafico-saida-barra, .grafico-gasto-categoria{
  place-content: center ;
  background-color: white;
  padding: 20px;
  margin-right: 25px;
  display: inline-block;
  width: 500px;
  height: auto;
}

